*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgba(133, 88, 236, 0.9);

}
.nav-links{
     list-style: none;
     display: flex;
     gap: 50px;    
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    transition: 0.3s;
}
.nav-links a:hover{
    color:gold
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.logo span{
    color: #ff33cc;
}
.btn-top{
    background: linear-gradient(to right,#ffcc00,#ff33cc);
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: bold;
}
/*hero section*/
.backround{
    width: 100%;
    height: 500px;
    background-image: url(assets/hero-bg.png);
    display: flex;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btween{
    width: 365px;
    height: 365px;
    background-image: url(assets/hero-circle.png);
   background-repeat: no-repeat;
    display: flex;
    justify-content: center;
   align-items: center;
    
}
.btween-2{
    width: 90px;
    height: 100px;
    background-image: url(assets/microphone.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.first-attraction{
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}
.second-attraction{
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}
.btn-mid{
    background: linear-gradient(to right,#ffcc00,#ff33cc);
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    
    
}
.btn-mid-2{
    color: rgb(21, 223, 69);
    border-radius: 20px;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}
.position{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}






